# DSC 107

In [1]:
import numpy as np
import pandas as pd

In [2]:
 df=pd.read_csv("https://raw.githubusercontent.com/Tiamiyu1/Python-for-Data-Science-and-Analytics/main/Data/store_data.csv")

In [3]:
df

           week  storeA  storeB  storeC  storeD  storeE
0    2014-05-04    2643    8257    3893    6231    1294
1    2014-05-11    6444    5736    5634    7092    2907
2    2014-05-18    9646    2552    4253    5447    4736
3    2014-05-25    5960   10740    8264    6063     949
4    2014-06-01    7412    7374    3208    3985    3023
..          ...     ...     ...     ...     ...     ...
195  2018-01-28     282    6351    7759    5558    1028
196  2018-02-04    4853    6503    4187    5956    1458
197  2018-02-11    9202    3677    4540    6186     243
198  2018-02-18    3512    7511    4151    5596    3501
199  2018-02-25    7560    6904    3569    5045    2585

[200 rows x 6 columns]

In [8]:
## final month(fm)
fm=df.tail(4)
fm

           week  storeA  storeB  storeC  storeD  storeE
196  2018-02-04    4853    6503    4187    5956    1458
197  2018-02-11    9202    3677    4540    6186     243
198  2018-02-18    3512    7511    4151    5596    3501
199  2018-02-25    7560    6904    3569    5045    2585

In [17]:
##fm(fm.loc[fm.index[-2]].sum())
fm.value_counts(dropna=False)

week        storeA  storeB  storeC  storeD  storeE
2018-02-04  4853    6503    4187    5956    1458      1
2018-02-11  9202    3677    4540    6186    243       1
2018-02-18  3512    7511    4151    5596    3501      1
2018-02-25  7560    6904    3569    5045    2585      1
dtype: int64

In [21]:
fm2=fm.agg({'storeA':'sum','storeB':'sum','storeC':'sum','storeD':'sum','storeE':'sum'})
fm2

storeA    25127
storeB    24595
storeC    16447
storeD    22783
storeE     7787
dtype: int64

In [22]:
fm2.idxmax()
##Store A has the highest total sales for the final month of data

'storeA'

In [35]:
fm3=pd.DataFrame(fm2)
fm3

            0
storeA  25127
storeB  24595
storeC  16447
storeD  22783
storeE   7787

In [42]:
hb=np.reshape(fm2(1,5))

TypeError: 'Series' object is not callable

In [37]:
pd.pivot_table(fm3,).plot(kind='bar')

ValueError: No group keys passed!

In [45]:
##2. which store makes the most sales average?
df2=df.agg({'storeA':'sum','storeB':'sum','storeC':'sum','storeD':'sum','storeE':'average'})
df2

storeA    1173096.000
storeB    1351342.000
storeC     988421.000
storeD    1086281.000
storeE       2580.025
dtype: float64

In [46]:
df2.idxmax()
##StoreB has the highest total sales for most sales average

'storeB'

In [47]:
##3, which store sells the most during the week of march 13th, 2016?
wk=df[df['week']=='2016-03-13']
wk

          week  storeA  storeB  storeC  storeD  storeE
97  2016-03-13    2054    1390    5112    5513    2536

In [50]:
wk2=wk.agg({'storeA':'sum','storeB':'sum','storeC':'sum','storeD':'sum','storeE':'sum'})
wk2

storeA    2054
storeB    1390
storeC    5112
storeD    5513
storeE    2536
dtype: int64

In [51]:
wk2.idxmax()
## storeD

'storeD'

In [72]:
## in what week does store C make its worst sales
Sf=df['storeC']
Sf

0      3893
1      5634
2      4253
3      8264
4      3208
       ...
195    7759
196    4187
197    4540
198    4151
199    3569
Name: storeC, Length: 200, dtype: int64

In [75]:
Sf.idxmin()

9

In [78]:
Sf.head(12)

0     3893
1     5634
2     4253
3     8264
4     3208
5     5070
6     5528
7     5530
8     3199
9      927
10    4518
11    2104
Name: storeC, dtype: int64

In [81]:
wk2=df[df['week'] 'storeC'=='927']
wk2

SyntaxError: invalid syntax (Temp/ipykernel_23160/516301175.py, line 1)